body
{
    margin:0;
    padding-top: 800px;
    background-color:#C2A886;
}

.profile
{
    width: 175px;
    margin-bottom:50px;
    border-radius:50%;
}

#Welcome
{
    position:absolute;
    overflow:hidden;
    height:800px;
    color:#FFADE9;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background:linear-gradient(#60ebeb 0%,#27ae60 100%);
    opacity:0.83;
    display:table;
    width:100%;
    height:100%;
}

.parallex-inner
{
    display:table-cell;
    position:reletave;
    text-align: center;
    vertical-align: middle;
}

p
{
    color:white;
    text-align: center;
    font-size:15px;
    line-height:1;
    max-width: 450px;
}

#bio
{
    padding:50px;
    text-align:center;
}

.menu
{
    list-style:none;
    font-family: fantasy;
    position: absolute;
    top:10px;
    right:30px;
    z-index:10;
    cursor: pointer;
    color:brown;
}

.links
{
    float:left;
    color:azure;
    padding-top:5px;
    padding-left: 9px;
    padding-right:9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size:20px;
}

.links-hover
{
    color:darkblue;
}